[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
	branch = master
[submodule "themes/powerlevel10k"]
	path = themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
	branch = master
[submodule "autoenv"]
	path = autoenv
	url = git@github.com:hyperupcall/autoenv.git
	branch = master
